@{
    ViewData["Title"] = "ThermoMotor IoT Solutions";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-index">
        <section class="home-section">
            <h1>Inovação em Monitoramento Térmico para Motores Elétricos</h1>
            <p>Na <strong>ThermoMotor IoT Solutions</strong>, estamos à frente da inovação em sistemas de monitoramento
                e controle térmico para motores elétricos. Com nossa tecnologia de ponta baseada em IoT, proporcionamos
                soluções precisas e eficientes para a gestão da temperatura em processos críticos de secagem de
                enrolamentos de motores.</p>
            <p>Nossos sistemas garantem qualidade, durabilidade e confiabilidade para aplicações industriais, comerciais
                e residenciais. Explore como a automação e o monitoramento em tempo real podem transformar o desempenho
                dos seus motores, garantindo eficiência em cada etapa do processo.</p>
            <p><strong>Descubra como nossas soluções podem otimizar sua produção!</strong></p>
            <a href="~/saiba-mais.html" class="cta-button">Saiba Mais</a>
            <a href="~/contato.html" class="cta-button">Contato</a>
        </section>
    </div>



