@{
    ViewData["Title"] = "ThermoMotor IoT Solutions";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-sobre">
        <section class="about-section">
            <h1>Quem Somos</h1>
            <p>A <strong>ThermoMotor IoT Solutions</strong> nasceu da necessidade de solucionar um desafio crítico na produção de motores elétricos: o monitoramento em tempo real da temperatura nas estufas de secagem.</p>
            <p>Através de nosso sistema de monitoramento IoT, oferecemos uma solução completa para garantir a qualidade do processo de secagem dos enrolamentos dos motores, fundamental para a durabilidade e a eficiência dos produtos.</p>
            <p>Nosso protótipo em escala reduzida, equipado com sensores de temperatura e resistência de aquecimento, é a base para o desenvolvimento de um sistema escalável e robusto, aplicável a indústrias de todo o mundo.</p>
            <p>Estamos comprometidos em entregar tecnologia confiável, otimizando a performance e o tempo de produção com inovação e precisão.</p>

            <h2>Missão</h2>
            <p>Transformar o controle térmico em um diferencial competitivo para empresas de motores elétricos ao redor do mundo.</p>

            <h2>Visão</h2>
            <p>Ser referência global em soluções IoT para monitoramento de processos industriais.</p>
        </section>
    </div>
